.question .card {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

.option-list {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    gap: 20px;
}

.option {
    height: 40px;
}

.MuiButton-root.option {
    border-radius: 13px;
}