.question .card {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 8px 5px -9px black;
}

.question-container {
    transform: translateY(-10%);
}

.option.correct {
    background-color: #E2ECE9;
}

.option.correct:hover {
    background-color: #cadfd8;
}
.option.correct:disabled {
    background-color: #cadfd8;
}

.option.wrong {
    background-color: #FAD2E1;
}

.option.wrong:disabled {
    background-color: #FAD2E1;
}

.option.wrong:hover {
    background-color: #d6b3c0;
}

option.next-question {
    background-color: burlywood;
}

.configure-quiz {
    display: flex;
    align-items: center;
    margin: 5% 10%;
    min-height: 60%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 5px -9px black;
}

.configure-quiz hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.config-options {
    margin-right: 20px;
    flex-grow: 1;
}

.config-options-row {
    display: grid;
    gap: 20px;
}

@media (min-width: 500px) {
    .config-options-row {
        display: flex;
        flex-flow: space-around center;
    }
}

.option-list {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 13px;
}

.option {
    height: 40px;
}

.next-question {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: auto;
    gap: 13px;
}

.time-remaining {
    margin-left: 11%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(95, 95, 95);
    transform: translateY(20px);
}

.MuiButton-root.option {
    border-radius: 13px;
}

#bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(295deg, #fff1e6, #dfe7fd, #fde2e4);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 22s ease infinite;
    -moz-animation: AnimationName 22s ease infinite;
    animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}